.bg{
    background-image: url('G:\Full_Stack_Workshop\My-Dream-App\src\assets\image\notebooks-569121_960_720.jpg');
     /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; 
  height: 100vh !important;
}