/*.bg{

    
    background-image: url('G:\Full_Stack_Workshop\My-Dream-App\src\assets\image\img12.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; 
    height: 100vh !important;
}*/